<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tencent.httpdns.network.base">

    <!-- Beacon -->
    <!-- 必须, 获取用户设备的IMEI，通过IMEI/mac等信息标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 必须, 允许应用程序联网，才可以向服务器端发送事件数据 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 必须, 检测联网方式，区分用户当前是2G/3G/WiFi -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 必须, 获取用户设备的mac地址 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 写外部存储设备，保存灯塔配置信息 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>

        <provider
                android:name="com.tencent.httpdns.network.base.DnsServiceInitProvider"
                android:authorities="com.tencent.httpdns"
                android:enabled="true"
                android:exported="false">
        </provider>
    </application>

</manifest>
